<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href=" {{ path_for('home') }} ">Kebabgram</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href=" {{ path_for('home') }} ">Accueil <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Top Kebab-pic'</a></li>
        <li><a href="#">Salade-Tomates-Oignons</a></li>
        <li><a href="#">Classement du  mois</a><li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      {% if auth.check %}
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">{{ auth.user.name }} <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="{{ path_for('profil.profil')}}">Profil</a></li>
              <li><a href="#">Changer Mot de Passe</a></li>
              <li class="divider"></li>
              <li><a href="{{ path_for('auth.signout' )}}">Déconnexion</a></li>
            </ul>
          </li>
        </ul>
      </div>
      {% else %}
        <li><a href=" {{ path_for('auth.signin') }} ">Connexion</a></li>
        <li><a href=" {{ path_for('auth.signup') }} ">Inscription</a></li>
      {% endif %}
    </ul>
      <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Kebab express">
        </div>
        <button type="submit" class="btn btn-default">Rechercher</button>
      </form>
    </div>
  </div>
</nav>
