{% extends 'app.html' %}
  {% block content %}
<form class="form-horizontal" action="{{ path_for('profil.profil') }}" method="post" autocomplete="off">
  <fieldset>
    <legend>Profil : {{ auth.user.name }}</legend>
      <div class="col-md-4">
        <h4>Vos Information :<h4>
          <div class="col-md-4">
            <strong>Identifiant:</strong><p>{{ auth.user.name }}</p>
            <strong>Email:</strong> <p>{{ auth.user.email }}</p>
            <strong>Mot de passe:</strong>

            <a href="{{ path_for('auth.password.change') }}">Changer</a>
          </div>
      </div>

      <div class="col-md-8">
        <h4>Vos Photo(s) :</h4></br>
        {{ csrf.field | raw }}

        <div class="form-group">
          <div class="col-md-8">
              <button type="submit" class="btn btn-primary">Add Photo</button>
          </div>
        </div>
    </div>
  </fieldset>
</form>
{% endblock %}
