{% extends 'app.html' %}
  {% block content %}
    <form class="form-horizontal" action="{{ path_for('auth.password.change') }}" method="post" autocomplete="off">
      <fieldset>
        <legend>Ancien Mot de passe</legend>
        <div class="form-group{{ errors.password_old ? ' has-error' : ''}}">
          <label for="password_old" class="col-lg-2 control-label">Ancien Mot de passe</label>
          <div class="col-lg-10">
            <input type="password" class="form-control" name="password_old" id="password_old" placeholder="Mot de passe" value="{{ old_inputs.password }}">
            {% if errors.password_old %}
              <span class="help-block"> {{ errors.password_old | first }}</span>
            {% endif %}
          </div>
        </div>
        <legend>Changer Mot de passe</legend>
        <div class="form-group{{ errors.password ? ' has-error' : ''}}">
          <label for="inputPassword" class="col-lg-2 control-label">Nouveau Mot de passe</label>
          <div class="col-lg-10">
            <input type="password" class="form-control" name="password" id="inputPassword" placeholder="Mot de passe" value="{{ old_inputs.password }}">
            {% if errors.password %}
              <span class="help-block"> {{ errors.password | first }}</span>
            {% endif %}
          </div>
        </div>

        {{ csrf.field | raw }}
        <div class="form-group">
          <div class="col-lg-9 col-lg-offset-3">
            <button type="submit" class="btn btn-primary">Changer Mot de passe</button>
          </div>
        </div>
      </fieldset>
    </form>
  {% endblock %}
