{% extends 'app.html' %}
  {% block content %}
      <div class="col-md-12">
        <h3 class="text-center">Photos de <strong>{{ user.name }}</strong></h3><br>
        <hr>
      </div>
      <div class="col-md-8">
        {% if images %}
          {% set image_row = 1 %}
          {% for image in images %}

            {% if image_row == 1 %}
              <div class="row">
            {% endif %}

            <div class="col-md-4">
              <a href="{{ path_for('images.user.show', {'name' : user.name, 'id' : image.id}) }}">
                <img class="img-responsive" src="{{ image.link }}">
              </a>
            </div>

            {% if image_row == 3 %}
              </div>
              <br>
              {% set image_row = 1 %}
            {% else %}
              {% set image_row = image_row + 1 %}
            {% endif %}

          {% endfor %}
          {% if image_row == 3 or image_row == 2 %}
            </div>
            <br>
          {% endif %}
        {% else %}
          <h4>{{ user.name }} ne possède aucune photo.</h4>
        {% endif %}
    </div>
{% endblock %}
