{% extends 'app.html' %}
  {% block content %}
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center">CHEF ! Comment tu fais un bon Chiche-kebab ?</h2>
        <ul><h3>Ingrédients</h3>
          <li>Une bonne musique de fond</li>
          <li>Pain pita</li>
          <li>Viande</li>
          <li>Crudités : salade, tomates, oignons, autres</li>
          <li>Sauce : blanche surprise du CHEF</li>
        </ul>
        <h2 class="text-center">CHEF à l'action !</h2>
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <iframe width="100%" height="400px" src="https://www.youtube.com/embed/iNYWcWiQx18" frameborder="0" allowfullscreen></iframe>
          </div>
      </div>
    </div>



  {% endblock %}
